/*
 * Globals
 */

hr {
    border-color: #334350;
}

.nav > li > span {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav > li > span:hover,
.nav > li > span:focus {
    text-decoration: none;
    background-color: #eee;
}

.nav-pills > li {
    cursor: pointer;
}

.nav-pills > li > span {
    border-radius: 4px;
}

.nav-pills > li.active > span,
.nav-pills > li.active > span:hover,
.nav-pills > li.active > span:focus {
    color: #fff;
    background-color: #337ab7;
}

.chat {
    height: 15em;
    overflow-y: auto;
    background: #334350;
    text-align: left;
}

.fancy-input {
    color: #968664;
    background-color: #51626a;
    border-color: #51626a;
}

.fancy-checkbox {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.fancy-checkbox input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}

.fancy-checkbox label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.fancy-checkbox input[type=checkbox]:checked ~ label{
  color: #0DFF92;
}

.fancy-checkbox input[type=checkbox] ~ #openlobbychecklabel:after{
  content: 'Private: False';
}

.fancy-checkbox input[type=checkbox]:checked ~ #openlobbychecklabel:after{
  content: 'Private: True';
}

.fancy-radio-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.fancy-radio-ul li{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    min-height: 65px;
    border-bottom: 1px solid #04305d;
}

.fancy-radio-ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.fancy-radio-ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.fancy-radio-ul li:hover label{
	color: #FFFFFF;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}

.mainlobbydiv {
    border-radius: 5px;
    background: #334350;
    padding: 10px;
    color: #968664;
}

#gameplayrules {
    font-size: 120%;
}

.text-roleindicator {
    border-bottom: 2px solid transparent;
    border-bottom-color: #8a6d3b;
}

 .modal-content {
    background-color: #28313a;
}

.close {
    color: #fff
}

@font-face {
    font-family: 'Goudy Medieval Alternate'; /*a name to be used later*/
    src: url('fonts/goudy-medieval-alternate.ttf') format('truetype'); /*URL to font*/
}

.medieval-text {
    font-family: 'Goudy Medieval Alternate';
    font-size: 2em;
}

.custom-table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #222;
}

.custom-table-striped > tbody > tr:nth-of-type(even) {
  background-color: #444;
}

.custom-list-group li {
   position: relative;
   display: block;
   padding: 10px 15px;
}

.btn-act {
	width: 100%;
	height: 100%;
	min-height: 34px;
}

.btn-night {
	background-color: #4800ff;
}

.btn-night:active,
.btn-night:hover:enabled,
.btn-night:focus {
	background-color: #4200eb;
}

.phase-div {
    z-index: 10000;
	position: fixed;
	top: 50%;
	width: 100%;
}

.phase {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: auto;
  max-width:720px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: visibility 1s, opacity 1s linear;
}

.phase-out {
	visibility: hidden;
	opacity: 0;
}

.phase-in {
	visibility: visible;
	opacity: 1;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #04305d;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.list-group-item {
	text-shadow: none;
}

.list-group-item-default {
	color: #505050;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #28313a;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background: url('img/Werewolf.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}
