/*
 * Globals
 */
 
 .navbar-nav > li > p {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
 
 .nav > li > p {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > p:hover,
.nav > li > p:focus {
	cursor: pointer;
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > p {
  color: #777;
}
.nav > li.disabled > p:hover,
.nav > li.disabled > p:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > p,
.nav .open > p:hover,
.nav .open > p:focus {
  background-color: #eee;
  border-color: #337ab7;
}

.navbar-default .navbar-nav > li > p {
  color: #777;
}
.navbar-default .navbar-nav > li > p:hover,
.navbar-default .navbar-nav > li > p:focus {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > p,
.navbar-default .navbar-nav > .active > p:hover,
.navbar-default .navbar-nav > .active > p:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > p,
.navbar-default .navbar-nav > .disabled > p:hover,
.navbar-default .navbar-nav > .disabled > p:focus {
  color: #ccc;
  background-color: transparent;
}
 
 .navbar-inverse .navbar-nav > li > p {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > p:hover,
.navbar-inverse .navbar-nav > li > p:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > p,
.navbar-inverse .navbar-nav > .active > p:hover,
.navbar-inverse .navbar-nav > .active > p:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > p,
.navbar-inverse .navbar-nav > .disabled > p:hover,
.navbar-inverse .navbar-nav > .disabled > p:focus {
  color: #444;
  background-color: transparent;
}
 
 .navbar-nav > li > p{
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
border-bottom: 2px solid transparent;
 }

.navbar-nav > li > p:hover,
.navbar-nav > li > p:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.navbar-nav > .active > p,
.navbar-nav > .active > p:hover,
.navbar-nav > .active > p:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.absolute-center {
	position: fixed;
	margin: auto;
	max-width: 95%;
	height: 100%;
	top: 50%; left: 0; bottom: 0; right: 0;
}

.blackout {
	z-index: 10000;
	position: fixed;
	background-color: #000000;
	color: #000000;
	width: 100%;
	height: 100%;
	transition: visibility 1s, opacity 1s linear;
}

.btn-night {
	width: 100%;
	height: 100%;
	min-height: 34px;
}

.btn-nightact {
	background-color: #4800ff;
}

.btn-nightact:active,
.btn-nightact:hover:enabled,
.btn-nightact:focus {
	background-color: #4200eb;
}

.countdown { 
   position: relative; 
   width: 100%;
}

.countdown-circle {
  border: 2px solid rgb(50, 122, 180);
  width: 72px;
  height: 72px;
  line-height: 72px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 0 auto 40px;
}

.countdown-circle-old {
   border-radius: 50%;
   border: 2px solid #327ab4;
   padding: auto;
   padding-left: 36px;
   padding-right: 36px;
   padding-top: 36px;
   padding-bottom: 36px;
}

.countdown-text {
   text-align: center;
   margin: auto;
   position: absolute; 
   font-size: 200%;
   color: rgb(50, 122, 180);
   width: 50%;
   height: 50%;
   top: 10px; left: 0; bottom: 0; right: 0;
}

.countdown-text-old {
   margin: auto;
   position: absolute; 
   font-size: 200%;
   color: rgb(50, 122, 180);
   width: 50%;
   height: 50%;
   top: 0; left: 0; bottom: 4px; right: 0;
}

.phase-div {
	position: fixed;
	top: 50%;
	width: 100%;
}

.phase {
  pointer-events: none;
  transition: 1s ease;
  position: absolute;
  width: 100%;
  height: auto;
  max-width:720px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: visibility 1s, opacity 1s linear;
}

.phase-out {
	visibility: hidden;
	opacity: 0;
}

.phase-in {
	visibility: visible;
	opacity: 1;
}

.vote-row {
	padding-top: 1em;
	padding-bottom: 1em;
}

.breadcrumbs-text {
	cursor: pointer;
	color: #327ab4;
	list-style: none;
	font-size: 17px;
}

.breadcrumbs-text-current {
	cursor: pointer;
	color: #7d7d7d;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.breadcrumb {
    color: #333;
    text-shadow: none;
    background-color: #191919;
    border: 1px solid #333;
}

.list-group-item {
	text-shadow: none;	
}

.list-group-item-default {
	color: #505050;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background: url('img/Werewolf.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}